* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

.wholeMenuStick {
    display: sticky;
}

.nav-menuHead {
    display: sticky;
    border: 1px solid black;
}

.menuHead {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.menuPortrait {
    display: flex;
    flex-direction: column;
}

.menuTextCenter {
    display: flex;
    justify-content: center;
}

.placeHoldertext {
    flex-direction: column;
    margin-top: 50%;
}