p {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

b {
    color: white;
}

h1 {
    color: white;
}

.banan {
    display: flex;
    margin-top: 200px;
    width: 150px;
    height: 75px;
}